body, html{
    height: 100%;
    margin 0;
}
.header{
    text-align: center;

}
.header{
    font-size: 150%;
}

.background{
    height: 100%;
    background: white;
    background: linear-gradient(white, rgba(0, 255, 255, .5));
    border-radius: 6px;
}
.error{
    text-align: center;
    font-size: 140%;
    color: black;
    border-style: solid;
    border-color: red;
}
